<html>
{{#html}}
<head>
  <!-- mylayout -->
{{#head}}
  {{title}}
{{/head}}
</head>
<body>
  <div id="header"></div>
  <div id="content">
  {{#body}}
    {{_}}
  {{/body}}
  </div>
  <div id="footer"></div>
</body>
{{/html}}
</html>