build.number
build
package
*~
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
target
lib_managed
_scalate
project/boot
.DS_Store
.scala_dependencies
.project
.classpath
.settings
.metadata
eclipse-classes
overlays
