<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Sample</display-name>

  <description>
    Server Pages - Sample
  </description>

  <!-- START: JAX RS config -->
  <filter>
    <filter-name>Jersey Filter</filter-name>
    <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>com.sun.jersey.config.feature.Redirect</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.feature.ImplicitViewables</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>org.fusesource.ssp.sample.resources</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
      <param-value>/|/sampleServlet|.+\.ssp||.+\.haml|(/(images|css|ssp)/.*)</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Jersey Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- END: JAX RS config -->

  <!-- START: SSP config -->
  <servlet>
    <servlet-name>SspServlet</servlet-name>
    <servlet-class>org.fusesource.ssp.scala_.ScalaServerPageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SspServlet</servlet-name>
    <url-pattern>*.ssp</url-pattern>
  </servlet-mapping>
  <!-- END: SSP config -->

  <!-- START: HAML config -->
  <servlet>
    <servlet-name>HamlServlet</servlet-name>
    <servlet-class>org.fusesource.ssp.haml.HamlServerPageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>HamlServlet</servlet-name>
    <url-pattern>*.haml</url-pattern>
  </servlet-mapping>
  <!-- END: HAML config -->

  <!-- START: Sample servlets -->
  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>org.fusesource.ssp.sample.SampleServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/sampleServlet</url-pattern>
  </servlet-mapping>
  <!-- END: Sample servlets -->

  <welcome-file-list>
    <welcome-file>index.ssp</welcome-file>
  </welcome-file-list>
</web-app>
