---
blog_post: true
title: MyProject 1.0.0 Released
author: Hiram Chirino
author_url: http://hiramchirino.com
created_at: 2008-08-02 14:06:40.000000 -06:00
--- 

The MyProject team is pleased to announce the availability of MyProject 1.0.0
This release includes a number of bug fixes and improvements.
For more informations, please see the [release notes](http://example.com)
