%html
  %body
    %h1
      HAML Scala Server Pages
    %p
      Welcome to HAML Scala Server Pages. Try surfing some of the examples below
    %h2
      SSP Samples
    %ul
      %li
        %a{ :href => "/scala/standalone.ssp" }
          simple
      %li
        %a{ :href => "/scala/locale.ssp" }
          shows use of locales and auto-formatting of numbers and dates
      %li
        %a{ :href => "/scala/snippet.ssp" }
          invoke a snippet implemented in scala code
      %li
        %a{ :href => "/sampleServlet" }
          servlet invoking a SSP with arguments
      %li
        %a{ :href => "/scala/defaultAttribute.ssp" }
          an SSP with an attribute using a default value
      %li
        %a{ :href => "/scala/missingAttribute.ssp" }
          try an SSP with missing attributes
      %li
        %a{ :href => "/scala/viewObject.ssp" }
          render an object using its default template
      %li
        %a{ :href => "/scala/viewCaseClass.ssp" }
          render an object using the default Product template
        which renders any case class
    %h2
      JAXRS Samples
    %ul
      %li
        %a{ :href => "/foo" }
          FooResource
      %li
        %a{ :href => "/foo/abc" }
          Item ABC
        a child resource
      %li
        %a{ :href => "/foo/def" }
          Item DEF
        a child resource
