<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>
  {{#people}}
  <tr>
    <td>{{name}}</td>
    <td>{{location}}</td>
  </tr>
  {{/people}}
</table> 

<p>
  This is lots and lots of text.
  <b>Scalate</b> really is rather awesome!
</p>      
