h1 Scalate Precompile Template Sample

p
  :markdown
    Welcome to this sample which uses precompiled templates to avoid depending on the **scala compiler** jar.

p
  :&markdown
    the time is now: **#{new java.util.Date()}**