/* based on the PlayFramework's CSS so it looks the same as when folks get errors in Play - thanks folks! */
html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans;
    background: #EEEEEE;
}            
.block {
    padding: 20px;
    border-bottom: 1px solid #aaa;
}
#header h1 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}
#more {
    color: #666;
    font-size: 80%;
    border: none;
}
#header {
    background: #fcd2da;
}
#header p {
    color: #333;
}
#source {
    background: #f6f6f6;
}
#source h2 {
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 10px 0;
}
#source .lineNumber {
    float: left;
    display: block;
    width: 40px;
    text-align: right;
    margin-right: 10px;
    font-size: 14px;
    font-family: monospace;
    background: #333;
    color: #fff;
}
#source .line {
    clear: both;
    color: #333;
    margin-bottom: 1px;
}
#source pre {
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
}
#source .error {
    color: #c00 !important;
}
#source .error .lineNumber {
    background: #c00;
}
#source .errorCol {
    background: #c00;
    color:#fff;
}
#source a {
    text-decoration: none;
}
#source a:hover * {
    cursor: pointer !important;
}
#source a:hover pre {
    background: #FAFFCF !important;
}