body, html {
    font-family:Arial,Verdana,Helvetica,sans-serif;
    color: #666666;
}
body, html, table, tr, td, tbody {
    padding:0;
    margin:0;
    vertical-align: top;
}
body {
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    overflow: visible;
    color: #993333;
}

h2 {
  border-top: 4px solid #E0E0E0 !important;
  margin-top: 1.5em !important;
  padding-top: 0.5em !important;
}

p { margin-bottom:0px; }

a {
	color: #990000;
	font-weight:bold;
	text-decoration: none;
}

a:hover { 
	color: #ff3333; 
	text-decoration: underline;
	}

img {
	border: none;
/*
	padding-right:2em
*/
}

.wrapper { min-width: 762px; width: 762px; margin: 0 auto; }

#navigation { width: 100%; float: left;
  font-family: Helvetica,Verdana,Arial,sans-serif; 
  background: black; 
	text-align:center; 
  color: #b55; 
	font-size: 10pt; 
	font-weight: bold;
  position: absolute;  
    top: 0px;
}
#navigation a { color: white; }
#navigation div.edit img { float:right; padding: 4px 8px 0px 8px; cursor: pointer; } 
#navigation div.wrapper { padding: 8px 0 8px 0;} 
#navigation div.wrapper ul { display: block; margin:0; padding:0; }
#navigation div.wrapper li { list-style-type: none; display: inline; margin:0 5px 0 5px;}

.popover{position:absolute;top:0;left:0;z-index:1000;padding:5px;display:none;}.popover.above .arrow{bottom:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000000;}
.popover .inner{background:#333;background:rgba(0, 0, 0,0.8);padding:3px;overflow:hidden;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);}
.popover .title{background-color:#f5f5f5;padding:9px 15px;line-height:1;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;border-bottom:1px solid #eee;}
.popover .content{background-color:#ffffff;padding:14px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.popover .content p,.popover .content ul,.popover .content ol{margin-bottom:0;}

#files_popup { right:0; left:auto; top:32px; font-size:80%; }
#files_popup h3 { margin:0; }
#files_popup ul { margin:0; padding:0 0 0 1em; }

#overview { width: 100%; padding-top:20px}
#overview div.message { 
    font-size: 11pt; 
    margin-top: -20px;
    padding-left: 120px;
    width: 350px;
}
#overview div.message h1{ margin-bottom: 5px; display:none; }
#overview div.message p{ margin-top: 0px; padding-bottom:14px; }

#spot { width: 100%; float: left; 
    margin-top: 15px;
    background:transparent url(../images/spot-banner.gif) repeat-x scroll 0 0;
    height: 277px;
}
#spot div.title {
    text-align:center; height:25px;
    text-align:center; padding-top: 2px;
    color: white; font-size: 10pt; font-weight: bold; 
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; 
}
#spot div.content table {
    width: 100%; text-align:center; 
    color: black; font-size: 10pt; 
}

#spot a:hover {text-decoration: none; }

#spot div.spot-balloon {
  background:transparent url( ../../../images/spot-get-involved.gif ) no-repeat;
  background-position:center;
  height: 121px;
  text-align:left;
  padding-top: 25px;
  padding-left: 35px;
}

#spot div.spot-balloon li {
/*
  list-style: none;
*/
  list-style: disc;
}

/*
#spot div.spot-balloon {
  height: 120px;
  text-align:left;
  padding-top: 20px;
  padding-left: 15px;
}
*/

#content { width: 100%; float: left; padding-bottom: 20px; }
#content .wrapper { min-width: 700px; width: 700px; margin: 0 auto; padding-top: 1em}
#content div.left {
  float:left;
  width:200px;
  text-align:right;
  font-size: 18pt;
  clear:both;
}
#content h1 {
  font-size: 18pt;
}
#content div.right {
  float:right;
  width:450px;
  text-align:left;
}

#blog { width: 100%; float: left; }
#blog .wrapper { min-width: 600px; width: 600px; margin: 0 auto; }
#blog h1 {
  font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; 
  font-size: 18pt; color: #993333;
}
#blog h2 {
  border-bottom: thin dashed #DDD;
  font-size: 16pt;
  margin-bottom: 5px;
}
#blog div.post p {
  padding-left: 10px;
}
#blog div.post .details {
  padding-top: 5px;
  color: #ccc;
  font-size: 10pt;
  font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; 
}

#content .post h2 {
  margin-bottom:5px;
}
#content .post .details {
  color: #ccc;
  font-size: 10pt;
  font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; 
  margin-top:0px;
}

div.compare { width: 700px; }
div.compare div.compare-left { float:left; width:340px; padding:5px; margin-top: 15px; }
div.compare div.compare-right { float:right; width:340px; padding:5px; margin-top: 15px; }
div.compare div h3 {
  margin-left: 15px;
  padding: 5px 15px;
  display: inline;
  font-size: .8em;
  color: #666;

  border-top: 1px solid #ccc; -moz-border-top-colors: #ccc white white #e5e5e5;
  border-left: 1px solid #ccc; -moz-border-left-colors: #ccc white white #e5e5e5;
  border-right: 1px solid #ccc;-moz-border-right-colors: #ccc white white #e5e5e5;
  border-top-left-radius: 8px; -webkit-border-top-left-radius: 8px;  -moz-border-radius-topleft: 8px;
  border-top-right-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; 
}
div.compare div div {
  margin: 5px 0px 0px 0px;
}

.clear {
  clear:both;
}

.wide div.compare div.compare-left { float:none; width:700px; }
.wide div.compare div.compare-right { float:none; width:700px; }


table.confluenceTable {
    margin: 5px;
    border-collapse: collapse;
}

table.confluenceTable td.confluenceTd {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 3px 4px 3px 4px;
}

table.confluenceTable th.confluenceTh {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 3px 4px 3px 4px;
    background-color: #f0f0f0;
    text-align: center;
}

td.confluenceTd {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 3px 4px 3px 4px;
}

th.confluenceTh {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 3px 4px 3px 4px;
    background-color: #f0f0f0;
    text-align: center;
}

table.download {
  width: 100%;
  font-size: 90%;
  padding: .5em;
}
table.download td {
  padding: .4em;
}
.hide {
  display:none;
}