<configuration scan="true" debug="false">
  <!-- TODO in production mode disable the scan -->

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>target/application.log</File>
    <Append>true</Append>

    <encoder>
      <Pattern>%-4relative [%thread] %-5level %logger{40} - %msg%n</Pattern>
    </encoder>
  </appender>


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

<!--
  <logger name="org.fusesource.scalate" level="DEBUG" />
-->

<logger name="org.fusesource.scalate" level="DEBUG" />

  <root level="info">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>