<h1>Some Data</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
{{#items}}
  <tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
  </tr>

<!-- missing close tag on purpose :)-->

</table>
