h1 Embedded CoffeeScript demo

p This should demonstrate some CoffeeScript being compiled on the server to JavaScript and included inside a Jade page

:coffeescript
  alert "Hello, Coffee embedded!"
  
p You should get an alert :)