h1 External CoffeeScript demo

p This should demonstrate some CoffeeScript being compiled on the server to JavaScript and referenced inside a Jade page

script(src="foo.js" type="text/javascript")
  
p You should get an alert :)