h1 CoffeeScript Examples

p Here are a few samples of using CoffeeScript and SASS/SCSS with Scalate using Jade

ul
  li
    a(href="embedded") Embedded CoffeeScript inside Jade
  li
    a(href="external") External CoffeeScript referenced in Jade
    