name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        java: [8, 11]
        Scala: ['2.11.12', '2.12.13', '2.13.4']

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Run tests
      run: |
        sbt -v "++ ${{matrix.Scala}}" test unidoc
        git diff --exit-code
