name: build

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11]
        scala: ['2_11', '2_12', '2_13', '3']

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v3.12.0
      with:
        java-version: ${{ matrix.java }}
        distribution: adopt
    - name: Run tests
      run: |
        case ${{ matrix.scala }} in
          "2_11")
            sbt -v SetScala211 test unidoc
            ;;
          "2_12")
            sbt -v SetScala212 test unidoc
            ;;
          "2_13")
            sbt -v SetScala213 test unidoc
            ;;
          "3")
            sbt -v SetScala3 test unidoc
            ;;
          *)
            echo "unknown scala version"
            exit 1
        esac
        git diff --exit-code
